@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

*{
    font-family: 'Luckiest Guy';
    font-weight: 300;
}
body{
    background-color: #ec7018;
}
/* for the images that lead you to the different contact pages */
.contact-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}
.contact-img img {
    width: 1000px; 
    height: auto; 
    object-fit: contain; 
    border-radius: 8px; 
}

.contact-img img:hover{
    transform: scale(1.03);
    /* https://chatgpt.com/share/678a8dbc-ed88-8004-92b4-0c0a3e3d86fb (to make the image darker as i hover */
    filter: brightness(80%);
}

.small-img{
    height: 103vh;
}
/* for the contact text */

section a{
    text-decoration: none;
    color: black;
}

section h1{
   text-align: center;
   font-size: 50px;
}

/* for the contact box */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin-left: 42vw;
    margin-top: 20vh;
   
}
.contact-box{
    background: #ffffff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 25px #ec7018;
    width: 100%;
    max-width: 400px;
    margin-bottom: 400px;
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 20px; */
}

form h1{
    font-size: 45px;
}

 form label{
    display: flex;
justify-content: center;
}

form input{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:45px;
    height: 40px;
    border-radius: 20px;
}
form button{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:85px;
    margin-top:10px;
    height: 40px;
    border-radius: 20px;
}

