@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sacramento&display=swap");
* {
  font-family: "Oswald";
  scroll-behavior: smooth;
}
body {
  background-color: rgb(24, 74, 5);
}

.background {
  padding: 25%;
  background-image: url("../img/brand/1.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.art{
  background-color: rgb(238, 136, 11);
}

section.array {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vh;
  padding: 6%;
}

.array img{
  width: 90%;
}

p {
  font-size: 580%;
  text-align: center;
  font-display: bold;
  font-weight: 500;
  color: wheat;
}
h4 {
  font-size: 430%;
  text-align: center;
  font-display: bold;
  font-weight: 500;
  color: black;
}
